@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo HelloWorldIdentity</h1>
    <p class="lead">Demo usando recursos básico do [Authorize].</p>
    <p>Verifique sua utilização através do controller Secreto</p>
</div>

