
@{
    ViewBag.Title = "AdicionarComForm";
}

<h2>Adicionar Com Form</h2>

<form action="http://localhost:52605/api/HelloWorld" method="post">
    <input type="text" id="ID-Cli" name="ID" />
    <input type="text" id="Nome-Cli" name="Nome" />
    <input type="text" id="Idade-Cli" name="Idade" />
    <input type="submit" value="Enviar" />
</form>

